@page
@model RestaurantWeb.Views.Home.MenuModel
@{
    Layout = "_Layout"; // Указывает на макет

    <div class="row">
        @foreach (var dish in Model.Dishes)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="dish.ImageUrl" class="card-img-top img-fluid" alt="@dish.Name">
                    <div class="card-body">
                        <h5 class="card-title">@dish.Name</h5>
                        <p class="card-text">@dish.Description</p>
                        <p class="text-muted">@dish.Price ₽</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
