@page
@model RestaurantWeb.Pages.Register.IndexModel
@{

    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>
<form method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
    </div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" type="password" />
    </div>
    <div>
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" />
    </div>
    <div>
        <label asp-for="Input.Phone"></label>
        <input asp-for="Input.Phone" />
    </div>
    <button type="submit">Зарегистрироваться</button>
    <div class="text-danger">@Model.ErrorMessage</div>
</form>
