@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RestaurantWeb.Pages.Register.IndexModel
@{

    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}



<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6">
            <div class="card shadow rounded-4 p-4 bg-lavender">
                <h2 class="text-center mb-4" style="color: var(--peach);">Регистрация</h2>
                <form method="post" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="Input.Username" class="form-label"></label>
                        <input asp-for="Input.Username" class="form-control rounded-pill" placeholder="Введите имя пользователя" />
                        <span asp-validation-for="Input.Username" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" type="email" class="form-control rounded-pill" placeholder="Введите email" />
                        <span asp-validation-for="Input.Email" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-labe"></label>
                        <input asp-for="Input.Password" type="password" class="form-control rounded-pill" placeholder="Введите пароль" />
                        <span asp-validation-for="Input.Password" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control rounded-pill" placeholder="Подтвердите пароль" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.FullName" class="form-label "></label>
                        <input asp-for="Input.FullName" class="form-control rounded-pill" placeholder="Введите полное имя" />
                        <span asp-validation-for="Input.FullName" class="text-danger small"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="Input.Phone" class="form-label "></label>
                        <input asp-for="Input.Phone" class="form-control rounded-pill" placeholder="+7 (___) ___-__-__" />
                        <span asp-validation-for="Input.Phone" class="text-danger small"></span>
                    </div>

                    <button type="submit" class="btn btn-peach w-100 rounded-pill fw-semibold py-2">
                        Зарегистрироваться
                    </button>
                </form>

                <div class="text-center mt-3 small text-muted">
                    Уже зарегистрированы? <a href="/Login" class="text-peach fw-semibold">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>

   
@* @section Scripts {
    <partial name="_ValidationScriptsPartial" model="null" />
} *@