<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Точка на против</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Точка на против</a>
                <div class="d-flex">
                  
                    @if (User.Identity?.IsAuthenticated == true)
                    {

                        @if(User.Claims.FirstOrDefault(x=>x.Value == "1")!=null)
                        {
                            <a href="/admin" class="btn btn-light">
                                <i class="bi bi-box-arrow-in-left me-2"></i>АдминПанель
                            </a>
                        }
                        <a href="/Logout"  class="btn btn-light">
                            <i class="bi bi-box-arrow-in-right me-2"></i>Выйти
                        </a>
                    }
                    else
                    {
                        <a href="/Login" class="btn btn-light">
                            <i class="bi bi-box-arrow-in-right me-2"></i>Войти
                        </a>
                    }
                   
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>